<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/starshiptype" routerLinkActive="active"><i class="fas fa-space-shuttle"></i> Tipos de Naves</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/starshiptype/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> ADD Tipo de Nave</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/MembroEsquadrao" routerLinkActive="active"><i class="fas fa-rocket"></i> Membros de Esquadrões</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/MembroEsquadrao/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> ADD Membro de Esquadrão</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/squad" routerLinkActive="active"><i class= "fas fa-poo"></i>Esquadrões</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/squad/add" routerLinkActive="active"><i class= "fas fa-plus-circle"></i>ADD Esquadrão</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/personagens" routerLinkActive="active"><i class="fas fa-gamepad "></i>Personagens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/personagens/add" routerLinkActive="active"><i class="fas fa-plus circle "></i>ADD Personagem</a>
  </li>
</ul>
